<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- variables section -->

<% var all_data = users[0].user %>
<% var quiz_index = users[1].topic_index %>
<% var questionBank_index= users[2].question_index %>

<!-- /variables section -->
    
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="box-nav d-flex justify-between">
                                <div class="filter">
                                    <a href="/question?id=<%= all_data._id %>&topic_index=<%= quiz_index %>&question_index=<%= questionBank_index %>"><i class="fas fa-angle-double-left"></i> Back</a>
                                </div>
                            </div>
                        </th>
                        <th></th><th></th>
                        <th><h2><%= all_data.quiz[quiz_index].topic %></h2></th>
                       <td>
                            <a href="/welcome-user?id=<%= all_data._id %>" class="btn border-shadow update">
                                <span class="text-gradient"> Home </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table">
                <tbody>                 
                    <thead class="thead-dark">
                        <tr>
                            <th> Hey <%= all_data.name %> !!!</th>
                            <th></th>
                            <th> Your choice is correct </th>
                            <th></th>
                            <th> Credit Score: <%= all_data.totalRewardPoints %> </th>
                            <th> </th>
                        </tr>
                    </thead>
                </tbody>
            </table>
            
            <div class="form-title text-center">
                <h2><span class="text-dark">Great Job!</span></h2>
            </div>

            <% if(all_data.quiz[quiz_index].questionBank[questionBank_index].pointsEarned == 0 && all_data.quiz[quiz_index].questionBank[questionBank_index].counter <= 3) { %>
            <div class="form-title text-center">
                <h3><span class="text-dark">Congratulations! You have also won <%= all_data.quiz[quiz_index].questionBank[questionBank_index].rewardPoints %> reward points. Click below to claim your reward.</span></h3>
            </div>
            <form action="/api/users/correct" method="POST" id="correct">
                <div class="new_user">
                    <div class="form-group">
                        <input type="hidden" name="id" value="<%= all_data._id %>">
                        <input type="hidden" name="topic_id" value="<%= all_data.quiz[quiz_index]._id %>">
                        <input type="hidden" name="topic_index" value="<%= quiz_index %>"> 
                        <input type="hidden" name="question_id" value="<%= all_data.quiz[quiz_index].questionBank[questionBank_index]._id %>">    
                        <input type="hidden" name="question_index" value="<%= questionBank_index %>">
                        <input type="hidden" name="rewardPoints" value="<%= all_data.quiz[quiz_index].questionBank[questionBank_index].rewardPoints %>">
                        <button type="submit" class="btn text-dark update">Claim</button>
                    </div>
                </div>
            </form>
            <% } %>

            <% if(all_data.quiz[quiz_index].questionBank[questionBank_index].pointsEarned > 0) { %>
                <div class="form-title text-center">
                    <h3><span class="text-dark">You have already got the reward points in your previous attempt(s).</span></h3>
                </div>
            <% } %>

            <% if(all_data.quiz[quiz_index].questionBank[questionBank_index].pointsEarned == 0 && all_data.quiz[quiz_index].questionBank[questionBank_index].counter > 3) { %>
                <div class="form-title text-center">
                    <h3><span class="text-dark">You have already attempted this question 3 times therefore you cannot claim for reward points now.</span></h3>
                </div>
            <% } %>

        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->