
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- variables section -->

<% var all_data = users[0].user %>
<% var quiz_index = users[1].topic_index %>
<% var questionBank_index= users[2].question_index %>

<!-- /variables section -->
    
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="box-nav d-flex justify-between">
                                <div class="filter">
                                    <a href="/topic?id=<%= all_data._id %>&topic_index=<%= quiz_index %>"><i class="fas fa-angle-double-left"></i> Back</a>
                                </div>
                            </div>
                        </th>
                        <th></th><th></th><th></th><th></th>
                        <th><h2><%= all_data.quiz[quiz_index].topic %></h2></th>
                       <td>
                            <a href="/help-user?id=<%= all_data._id %>&topic_index=<%= quiz_index %>&question_index=<%= questionBank_index %>" class="btn border-shadow update">
                                <i class="text-dark"> Help? </i>
                            </a>                        

                            <a href="/welcome-user?id=<%= all_data._id %>" class="btn border-shadow update">
                                <span class="text-gradient"> Home </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table">
                <tbody>                 
                    <thead class="thead-dark">
                        <tr>
                            <th> Hey <%= all_data.name %> !!!</th>
                            <th></th>
                            <th> Question </th>
                            <th></th>
                            <th> Reward Points: <%= all_data.totalRewardPoints %> </th>
                            <th> </th>
                        </tr>
                    </thead>
                </tbody>
            </table>

            <div class="form-title text-center">
                <h3><span class="text-dark"><%= all_data.quiz[quiz_index].questionBank[questionBank_index].question %></span></h3>
            </div>
            
            <!-- form handling -->
            <form method="POST" id="question_response">
                <div class="new_user">
                    <div class="form-group">
                        <div class="form-title text-center">
                            <label for="choices" class="text-dark"><h4>Select the correct option from below choices.</h4></label>
                        </div>
                        <table class="table">
                            <tbody>            
                                    <tr><td>
                                        <div class="radio inline">
                                            <input type="radio" id="radio-1" name="choices" value=<%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[0] %>>
                                            <label for="radio-1" class="radio-label"><%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[0] %></label>
                                        </div>
                                    </td></tr>
                                    <tr><td>
                                        <div class="radio inline">
                                            <input type="radio" id="radio-2" name="choices" value=<%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[1] %>>
                                            <label for="radio-2" class="radio-label"><%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[1] %></label>
                                        </div>
                                    </td></tr>
                                    <tr><td>
                                        <div class="radio inline">
                                            <input type="radio" id="radio-3" name="choices" value=<%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[2] %>>
                                            <label for="radio-3" class="radio-label"><%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[2] %></label>
                                        </div>
                                    </td></tr>
                                    <tr><td>
                                        <div class="radio inline">
                                            <input type="radio" id="radio-4" name="choices" value=<%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[3] %>>
                                            <label for="radio-4" class="radio-label"><%= all_data.quiz[quiz_index].questionBank[questionBank_index].choices[3] %></label>
                                        </div>
                                    </td></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Submit</button>
                    </div>

                </div>
            </form>

        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->