
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- variables section -->

<% var all_data = users[0].user %>
<% var quiz_index = users[1].topic_index %>
<% var questionBank_index= users[2].question_index %>

<!-- /variables section -->
    
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="box-nav d-flex justify-between">
                                <div class="filter">
                                    <a href="/topic?id=<%= all_data._id %>&topic_index=<%= quiz_index %>"><i class="fas fa-angle-double-left"></i> Back</a>
                                </div>
                            </div>
                        </th>
                        </th><th></th><th></th>
                        <th><%= users[0].user.quiz[quiz_index].topic %></th>
                       <td>
                            <a href="/welcome-user?id=<%= all_data._id %>" class="btn border-shadow update">
                                <span class="text-gradient"> Home </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table">
                <tbody>                 
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th> Hey <%= all_data.name %> !!!</th>
                            <th></th>
                            <th> Question-<%= questionBank_index+1 %> </th>
                            <th></th>
                            <th> Reward Points: <%= all_data.totalRewardPoints %> </th>
                            <th> </th>
                        </tr>
                    </thead>
                </tbody>
            </table>

            <div class="form-title text-center">
                <h4><span class="text-light"><%= all_data.quiz[quiz_index].questionBank[questionBank_index].question %></span></h4>
            </div>
            
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->