
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- variables section -->

<% var all_data = users[0].user %>
<% var quiz_index = users[1].topic_index %>

<!-- /variables section -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="box-nav d-flex justify-between">
                                <div class="filter">
                                    <a href="/welcome-user?id=<%= all_data._id %>"><i class="fas fa-angle-double-left"></i> Back</a>
                                </div>
                            </div>
                        </th>
                        <th></th><th></th>
                        <th>Welcome to <%= all_data.quiz[quiz_index].topic %> section</th>
                       <td>
                            <a href="/welcome-user?id=<%= all_data._id %>" class="btn border-shadow update">
                                <span class="text-gradient"> Home </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table">
                <tbody>                 
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th> Hey <%= all_data.name %> !!!</th>
                            <th></th>
                            <th> It's quiz time. Be ready !!! </th>
                            <th></th>
                            <th> Reward Points: <%= all_data.totalRewardPoints %> </th>
                            <th> </th>
                        </tr>
                    </thead>
                </tbody>
            </table>

            <div class="form-title text-center">
                <h3><span class="text-light">Select below questions to test your knowledge</span></h3>
            </div>

            <% for(var i = 0; i < all_data.quiz[quiz_index].questionBank.length; i++) { %>
                <div class="form-title text-center">
                    <div class="filter">
                        <a href="/question?id=<%= all_data._id %>&topic_index=<%= quiz_index %>&question_index=<%= i %>"><h4 class="text-dark"><i class="fas fa-angle-double-right"></i> Question-<%= i+1 %> </h4></a>
                    </div>
                </div>
            <% } %>
            
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->